<ul *ngIf="customers">

  <div class="row" style="padding: 10px">

    <div *ngFor="let Customer of customers" class="card" style="margin: 5px">

      <img class="card-img-top" routerLink="/customers/{{Customer.id}}"  length="60px" src="https://icon-library.net/images/blank-person-icon/blank-person-icon-1.jpg" >
      <div class="card-body">
        <a  routerLink="/customers/{{Customer.id}}" > {{Customer.id}} {{Customer.firstName}} {{Customer.lastName}}</a>
        <div></div>
        <button class="button" style="alignment: left" routerLink='/customer-update/{{Customer.id}}'>Update</button>

        <button class="button" style="alignment: left" (click)="delete (Customer.id)">Delete</button>
      </div>
      </div>
    </div>








</ul>
<h2 *ngIf="!customers">Loading Customers</h2>
<button routerLink="/customer-add">Add Customers</button>


