

.button {
  border-radius: 30px;
  background-color: #111111;
  margin: 5px;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: aliceblue;
  display: inline-block;
  font-size: 12px;
}
